<div style=" margin: auto; width: 50%;">
  <button (click)="exportexcel()">Export to Excel</button>

  <table class="styled-table" *ngFor="let group of user">
    <thead>
        <tr>
            <th>Group</th>
            <th>Id</th>
            <th>Name</th>
              <th>Phone</th>
            <th>Email</th>
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let person of group.studentList">
              <td>{{group.group}}</td>
              <td>{{ person.id }}</td>
              <td>{{ person.name }}</td>
              <td>{{ person.phone }}</td>
              <td>{{ person.email }}</td>
            </tr>
            
        </tbody>
</table>
</div>